* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-size: 20pt;
  font-family: 'Roboto', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #002431;
}

img {
  width: 100%;
  height: auto;
  border-radius: 25px;
  max-height: 400px;
  max-width: 400px;
}

a {
  color: #EAA295;
}

a:hover {
  color: #fac9c1;
  text-decoration: none;
}

.skills-grid {
  display: grid;
  column-count: 1;
  margin: auto;
  column-gap: 50px;
  row-gap: 1em;
}

.skill-description {
  font-size: 14pt;
}

.svg-skill {
  fill: #EAA295;
  padding: 10px;
  width: 144px;
  height: 144px;
  background-color: #000000;
  border-radius: 72px;
}

h1 {
  font-size: 250%;
  white-space: nowrap;
  padding: 0 0 20px 0;
  font-family: "Roboto Mono";
}

h3 {
  white-space: nowrap;
}

h6 {
  padding-top: 25px;
}

hr {
  border: none;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0,0,0,0), #EAA295, rgba(0,0,0,0));

}

.socialul {
  list-style-type: none;
  background-color: black;
  padding: 10px 10px 20px 10px;
  border-radius: 15px;
  border-style: solid;
  border-color: #EAA295;
  opacity: 0;
}

.socialli {
  padding: 10px 0 0 0;
}

.svg-social {
  fill: white;
  width: 0;
  height: 0;
}

.svg-social:hover {
  transform: translateY(-5px);
  fill: #EAA295;
  transition: all 500ms ease;
}

.leftbar {
  position: fixed;
  padding-left: 40px;
  height: 100%;
}

.socials {
  position: absolute;
  bottom: 25%;
}

.navbar {
  background-color: #EAA295 !important;
}

.content {
  margin: auto;
  width: 90%;
  display: block;
}

.first {
  display: flex;
  flex-wrap: wrap;
}

.section {
  width: 100%;
  margin: 100px 0;
  text-align: center;
}

.experience {
  text-align: left;
  font-size: 16pt;
}

.experience strong {
  font-size: 18pt;
}

.experience em {
  font-size: 14pt;
}

.piccontainer {
  max-height: 400px;
  max-width: 400px;
  margin: 0 auto;
  position: relative;
}

.intro {
  display: inline-block;
  vertical-align: text-top;
  width: 100%;
}

.contact {
  color: #EAA295;
  padding: 10px;
  border-radius: 15px;
  border-style: solid;
  border-color: #EAA295;
  background-color: black;
}

.contact:hover {
  color: black;
  background-color: #EAA295;
  text-decoration: none;
  border-color: black;
  padding: 15px;
  transition: all 500ms;
}

.footer {
  width: 100%;
  height: 150px;
  font-size: 12pt;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scrolled-down{
  transform:translateY(-100%); transition: all 0.3s ease-in-out;
}
.scrolled-up{
  transform:translateY(0); transition: all 0.3s ease-in-out;
}

#secret {
  position: absolute;
  z-index: 1000;
  width: 10px;
  height: 10px;
  left: 148px;
  top: 158px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}


@media only screen and (min-width: 501px) and (max-width: 768px) {
  .skills-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 769px) {
  .content {
    width: 70%;
  }

  .first {
    flex-wrap: nowrap;
  }

  .svg-social {
    width: 32px;
    height: 32px;
  }

  .skills-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .socialul {
    opacity: 1;
  }
}
