* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-size: 20pt;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #002431;
}

img {
  width: 100%;
  height: auto;
  border-radius: 25px;
  max-height: 400px;
  max-width: 400px;
}

svg {
  fill: white;
  width: 0;
  height: 0;
}

h1 {
  font-size: 250%;
  white-space: nowrap;
  padding: 0 0 20px 0;
}

h3 {
  white-space: nowrap;
}

.socialul {
  list-style-type: none;
}

.socialli {
  padding: 20px 0 0 0;
}

.leftbar {
  position: fixed;
  padding-left: 15px;

  height: 100%;
}

.socials {
  position: absolute;
  bottom: 25%;
}

.navbar {
  background-color: #EAA295 !important;
}

.content {
  margin: auto;
  width: 90%;
  display: block;
}

.section {
  width: 100%;
  display: flex;
  margin: 30px 0 100px 0;
  flex-wrap: wrap;
}

.piccontainer {
  height: 100%;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro {
  display: inline-block;
  vertical-align: text-top;
  width: 100%;
}

.scrolled-down{
  transform:translateY(-100%); transition: all 0.3s ease-in-out;
}
.scrolled-up{
  transform:translateY(0); transition: all 0.3s ease-in-out;
}


@media screen and (min-width: 501px) and (max-width: 768px) {

}

@media screen and (min-width: 769px) {
  .content {
    width: 70%;
  }
  .section {
    flex-wrap: nowrap;
  }
  svg {
    width: 48px;
    height: 48px;
  }
}
