* {
    margin: 0 auto;
    max-width: 960px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    background-color: #040404;
    padding: 20px 0;
}

table, th, td {
    border-collapse: collapse;
    border-spacing: 0;
    border: 10px solid #040404;
    background-color: none;
}

table {
    margin: 20px auto;
}

h1 {
    font-size: 60px;
}

.spacer {
    height: 30px;
}

#song_table {
    width: 480px;
}