* {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 960px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #333;
    text-align: center;
}

table, th, td {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #333;
}